<html>
<head>
  <title>Products</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'productcats/styles.css' %}">
</head>
  <body>
    <div class="wrapper">
      <h2>Trader's Store</h2>
      <div class="items">
        <h3>Product Listing: </h3>
        <table>
          <tr>
            <th>Manufacturer</th>
            <th>Product Name</th>
            <th>Price ($)</th>
            <th>Date Added</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>g</td>
            <td>g</td>
            <td>g</td>
            <td>g</td>
            <td><a href="">Edit</a> <a href="">Delete</a></td>
          </tr>
        </table>
      </div>
      <div class="create">
        <h3>Add a Product: </h3>
        <form action = "" method = "POST">
          <label for="manufacturer">Manufacturer: 
          <select name="manufacturer">
            <option value="Kenneth Cole">Kenneth Cole</option>
            <option value="Gap">Gap</option>
            <option value="Rudy Project">Rudy Project</option>
            <option value="Samsung">Samsung</option>
          </select></label>
          <label>Product Name: <input type = "text" name = "Title"></label>
          <label>Price ($):<input type = "text" name = "price"></label>
          <label>Description: <textarea rows=4 cols= 30></textarea></label> 
          <button>Add Product</button>
        </form>
      </div>
    </div>
  </body>
</html>
